.weather-forecast-card {
  .card-content {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 3px var(--sec-color);
    background-color: var(--prim-color);
    color: var(--basic-color-white);
    text-align: center;
    overflow: hidden;

    .weather-forecast-icon {
      width: 120px;
    }

    .PSR-icon {
      width: 55px;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      background-color: var(--basic-color-dark);
      z-index: 9;
      transition: all 0.8s;
      visibility: visible;
      opacity: 0.9;
    }

    .weather-info {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 12;
      transition: all 0.8s;
      visibility: visible;
      border-radius: 4px;
    }

    &:hover {
      .overlay, .weather-info {
        transform: translateY(-100%);
      }
    }
  }
}