.weather-forecast-card {
  .card-content {
    width: 100%;
    height: 100%;
    border: solid 1px var(--prim-color);
    background-color: var(--sky-blue-color);

    .weather-forecast-icon {
      width: 120px;
    }

    .PSR-icon {
      width: 55px;
    }
  }
}